<div class="container"class="bg-image">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Signup</h1>
                    <h5>Get Free Membership</h5>
                    <hr>
                </div>

                <form [formGroup]= "signupForm" (ngSubmit)= "signUp()">
                    
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input formControlName="name" placeholder="Enter Name" type="name" class="form-control"
                          id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input formControlName="mobile" placeholder="Enter Number" type="number" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                             
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input formControlName="email" placeholder="Enter EmailID" type="email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input formControlName="password" placeholder="Enter Password" type="password"
                            class="form-control" id="exampleInputPassword1">
                    </div>
 
                    <button type="Submit" class="btn btn-primary">Signup</button>
                </form>

                <a routerLink="/login" style="color:white ;">Already Member ? click to Login !</a>
            </div>

        </div>

    </div>
</div>